%h1 Please fill in required account fields: 
= form_for current_user do |f|
  = f.text_field :first_name, placeholder: "First name"
  = f.text_field :last_name, placeholder: "Last name"
  = f.submit "Save changes"